{% extends 'email_magnet/base.html' %}
{% block title %}Brute Email Search{% endblock %}
{% block content %}
   

    <div class="container">

        <div class="row my-5">
            <div class="col">
            <h1 class="text-center">Discover Hidden Emails of TOP companies</h1>
    
        </div>
    </div>
    
    <div class="row">
        <div class="col mx-auto">
    <p>You only need to write a domain name, and Email Magnet will do it's best to supply you as many emails as possible within this company</p>
    <div class="row">
    <form method="POST">
        {% csrf_token %}
        <label for="company_domain">The domain name of the company is: *</label>
        <input type="text" name="company_domain" id="company_domain" required placeholder="Company website"><br>
        <p>* Required Field</p>
        <input type="submit" class="btn btn-primary" value="Get The Emails">
        </form>
        </div>
        </div>
    </div>
{% endblock %}