{% extends 'email_magnet/base.html' %}
{% block title %}Create a detail search{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    
    <div class="row">
        <div class="col mx-auto">
            <h1>Discover Hidden Emails of TOP Decision Makers</h1>
    <p>You only need to fill the following form with the domain of the company that you try to contact and some personal information about one of their employers.</p>
  
        <form method="POST">
            {% csrf_token %}
            {{  form|crispy }}
            <input type="submit" class="btn btn-primary" value="Discover The Email">
        </form>
                
        </div>
    </div>
{% endblock %}